name: krya1

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

#      - name: Run server in background
#        run: |
#          python server.py &
#          sleep 2

      - name: Build Docker image
        run: docker build -t flask-basic .

      - name: Run container test
        run: |
          docker run -d -p 5001:5001 --name flask-basic flask-basic
          sleep 10
          curl -f http://localhost:5001/home

      - name: Run client tests
        run: python client.py
